*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1140px;
  height: 534px;
  display: flex;
  width: 100%;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content_details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #9b8170 #ddd;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  width: 399px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 94%;
  color: #ffffff;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__video-card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  color: #ffffff;
  line-height: 16.2px;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.search-form__label {
  width: fit-content;
  display: flex;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__textfield {
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  vertical-align: top;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  margin-left: 1px;
  margin-top: 1px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.button {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  outline-offset: -2px;
  height: 34px;
  border: 1px solid #ffffff;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.more-button {
  width: 399px;
}
